body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.rxv-element__name.--onPick:hover {
  background-color: yellow;
  cursor: pointer;
}

.rxv-element__attribute.--onPick:hover {
  background-color: yellow;
  cursor: pointer;
}